$light-blue: #0099FF;
$console-blue: #33CCFF;
$neon-blue: #063a4b;
$gray-1: #eee;
$gray-2: #ddd;
$gray-3: #ccc;
$gray-4: #bbb;

*, *::after, *::before {
  box-sizing: border-box;
}

html, body, #left {
  overflow: hidden;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "open sans", arial;
}

a {
  text-decoration: none;
  color: $light-blue;
  &:hover { text-decoration: underline; }
}

ul {
  padding: 0 20px;
}

ul>li {
  list-style: none;
}

code {
  background-color: $gray-3;
  border-radius: 2px;
}

pre {
  overflow: auto;
}

#left {
  display: inline-block;
  width: 65%;
  height: 100%;
  background-color: $gray-3;
}

#right {
  background: $gray-1;
  display: inline-block;
  width: 35%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  h1 { border-bottom: 1px solid #aaa; }
}

nav {

  ul {
    padding: 0;
    margin: 0;
    a { font-weight: 600; }
  }

  li {
    display: inline-block;
    padding: 10px;
    width: 33.3%;
    text-align: center;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: -webkit-linear-gradient($gray-4, $gray-1);
    background: -o-linear-gradient($gray-4, $gray-1);
    background: -moz-linear-gradient($gray-4, $gray-1);
    background: linear-gradient($gray-4, $gray-1);
    &:hover {
      background: -webkit-linear-gradient($gray-1, $gray-4);
      background: -o-linear-gradient($gray-1, $gray-4);
      background: -moz-linear-gradient($gray-1, $gray-4);
      background: linear-gradient($gray-1, $gray-4);
    }
  }

  a.active li {
    background: $gray-1;
    border-bottom: none;
  }
}

.CodeMirror {
  height: 100%;
  font-size: 16px;
}

#editor-wrap {
  height: 65vh;
  position: relative;
}

#resize-wrap {
  height: 1vh;
  background: black;
  cursor: row-resize;
  &:hover { border-top: $light-blue 2px dashed; }
}

.resize {
  height: 1vh;
  cursor: row-resize;
}

.btn-group {
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.lint-error {
  font-family: arial;
  font-size: 70%;
  background: #FFEDFF;
  color: #a00;
  padding: 2px 5px 3px;
}

.lint-error-icon {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
}

#console {
  position: relative;
  padding: 10px 10px 30px 10px;
  font-size: 20px;
  background-color: black;
  color: $console-blue;
  font-family: courier;
  height: 33.5vh;
  overflow: auto;
  cursor: text;
  p {
    margin: 0;
  }
  .stdout {
    text-shadow: 0 0 5px $console-blue, 0 0 10px $console-blue, 0 0 15px $console-blue, 0 0 20px $neon-blue, 0 0 35px $neon-blue, 0 0 40px $neon-blue, 0 0 50px $neon-blue, 0 0 75px $neon-blue;
  }
  .stderr {
    color: red;
    text-shadow: 0 0 5px red, 0 0 10px red, 0 0 15px red, 0 0 20px rgb(115, 5, 5), 0 0 35px rgb(115, 5, 5), 0 0 40px rgb(115, 5, 5), 0 0 50px rgb(115, 5, 5), 0 0 75px rgb(115, 5, 5);
  }
  #close {
    position: absolute;
    top: 0;
    right: 10px;
    color: gray;
    cursor: pointer;
    font-family: arial;
    &:hover { color: $console-blue; }
  }
}


#prompt {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 97%;
  background-color: black;
  input {
    background-color: inherit;
    width: 95%;
    display: inline-block;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: none;
    &:focus { outline: 0; }
  }
}


.btn {
  position: relative;
  border: none;
  padding: 7px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.4s;
  font-family: "Lato", 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: 200;
  &:active {
    transition: 0s;
    box-shadow: none;
  }
}

.btn-primary {
  background-color: $light-blue;
  color: white;
  &:hover {
    background-color: #0049b6;
  }
  &:active {
    background-color: #053378;
    transition: 0s;
  }
}

.btn-danger {
  background-color: red;
  color: white;
  &:hover {
    background-color: rgb(115, 5, 5);
  }
  &:active {
    background-color: rgb(80, 4, 4);
    transition: 0s;
  }
}


#instruct {
  padding-bottom: 40px;

  ul>li {
    margin-bottom: 15px;
  }

  li h3 {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

#right footer {
  width: 40%;
  border-top: 1px solid $gray-2;
  position: fixed;
  z-index: 100;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 5px 10px;
  background-color: $gray-1;
  img {
    width: 15px;
    height: 15px;
    margin: 0 10px;
  }
}


// customize codemirror theme
.cm-s-dracula span.cm-variable {
  color: white;
}

.cm-s-dracula.CodeMirror, .cm-s-dracula .CodeMirror-gutters {
  background-color: #151728 !important;
}

.cm-s-dracula span.cm-string, .cm-s-dracula span.cm-string-2 {
    color: #fae58c;
}

.CodeMirror-cursor {
  border-left: solid 1px white;
}

.cm-s-dracula span.cm-property {
    color: $console-blue;
}

.cm-s-dracula .CodeMirror-cursor { border-left: solid 2px #f8f8f0 !important; }
