$light-blue: #0099FF;
$gray-1: #eee;
$gray-2: #ddd;
$gray-3: #ccc;
$gray-4: #bbb;

body {
  margin: 0;
  height: 100vh;
  font-family: "open sans", arial;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $light-blue;
}

ul {
  padding: 0 20px;
}

ul>li {
  list-style: none;
}

code {
  background-color: $gray-3;
  border-radius: 2px;
}

#left {
  display: inline-block;
  width: 65%;
  height: 100%;
  background-color: $gray-3;
}

#right {
  background: $gray-1;
  display: inline-block;
  width: 35%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  overflow: auto;
  h1 { border-bottom: 1px solid #aaa }
}

nav {

  ul {
    padding: 0;
    margin: 0;
    a { font-weight: 600; }
  }

  li {
    display: inline-block;
    padding: 10px;
    width: 33.3%;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    background: -webkit-linear-gradient($gray-4, $gray-1);
    background: -o-linear-gradient($gray-4, $gray-1);
    background: -moz-linear-gradient($gray-4, $gray-1);
    background: linear-gradient($gray-4, $gray-1);
    &:hover {
      background: -webkit-linear-gradient($gray-1, $gray-4);
      background: -o-linear-gradient($gray-1, $gray-4);
      background: -moz-linear-gradient($gray-1, $gray-4);
      background: linear-gradient($gray-1, $gray-4);
    }
  }

  a.active li {
    background: $gray-1;
    border-bottom: none;
  }
}

.CodeMirror {
  height: 100%;
}

#editor-wrap {
  height: 65vh;
  position: relative;
}

#resize-wrap {
  height: 1vh;
  background: black;
  cursor: row-resize;
  box-sizing: border-box;
  &:hover { border-top: $light-blue 2px dashed; }
}

.resize {
  height: 1vh;
  cursor: row-resize;
}

.btn-group {
  z-index: 100;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.lint-error {
  font-family: arial;
  font-size: 70%;
  background: #FFEDFF;
  color: #a00;
  padding: 2px 5px 3px;
}

.lint-error-icon {
  color: white;
  background-color: red;
  font-weight: bold;
  border-radius: 50%;
  padding: 0 3px;
  margin-right: 7px;
}

#console {
  position: relative;
  padding: 10px;
  background-color: black;
  color: #33CCFF;
  font-family: courier;
  height: 33.5vh;
  overflow: auto;
  box-sizing: border-box;
  p { margin: 0; }
}

#prompt {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 97%;
  background-color: black;
  input {
    background-color: inherit;
    width: 95%;
    display: inline-block;
    color: inherit;
    font-family: inherit;
    border: none;
    &:focus { outline: 0; }
  }
}


.btn {
  position: relative;
  border: none;
  padding: 7px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.4s;
  &:active {
    transition: 0s;
    box-shadow: none;
  }
}

.btn-primary {
  background-color: $light-blue;
  color: white;
  box-shadow: 2px 2px #1F7A99;
  &:hover {
    color: black;
    background-color: #33CCFF;
  }
  &:active {
    background-color: #1F7A99;
    transition: 0s;
  }
}

.btn-danger {
  background-color: red;
  color: white;
  box-shadow: 2px 2px #BB0000;
  &:hover {
    color: black;
    background-color: #FF6699;
  }
  &:active {
    background-color: #BB0000;
    transition: 0s;
  }
}

.error {
  color: red;
}

#instruct {
  ul>li {
    margin-bottom: 15px;
  }

  li h3 {
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

.correct::before {
  content: "✔";
}

.correct {
  color: green;
}


/* customize codemirror color */
.cm-s-ttcn .cm-quote { color: #090; }
.cm-s-ttcn .cm-negative { color: #d44; }
.cm-s-ttcn .cm-positive { color: #292; }
.cm-s-ttcn .cm-header, .cm-strong { font-weight: bold; }
.cm-s-ttcn .cm-em { font-style: italic; }
.cm-s-ttcn .cm-link { text-decoration: underline; }
.cm-s-ttcn .cm-strikethrough { text-decoration: line-through; }
.cm-s-ttcn .cm-header { color: #00f; font-weight: bold; }

.cm-s-ttcn .cm-atom { color: #219; }
.cm-s-ttcn .cm-attribute { color: #00c; }
.cm-s-ttcn .cm-bracket { color: #997; }
.cm-s-ttcn .cm-comment { color: #bbb; }
.cm-s-ttcn .cm-def { color: #00f; }
.cm-s-ttcn .cm-em { font-style: italic; }
.cm-s-ttcn .cm-error { color: #f00; }
.cm-s-ttcn .cm-hr { color: #999; }
.cm-s-ttcn .cm-invalidchar { color: #f00; }
.cm-s-ttcn .cm-keyword { font-weight:bold; }
.cm-s-ttcn .cm-link { color: #00c; text-decoration: underline; }
.cm-s-ttcn .cm-meta { color: #555; }
.cm-s-ttcn .cm-negative { color: #d44; }
.cm-s-ttcn .cm-positive { color: #292; }
.cm-s-ttcn .cm-qualifier { color: #555; }
.cm-s-ttcn .cm-strikethrough { text-decoration: line-through; }
.cm-s-ttcn .cm-string { color: #006400; }
.cm-s-ttcn .cm-string-2 { color: #f50; }
.cm-s-ttcn .cm-strong { font-weight: bold; }
.cm-s-ttcn .cm-tag { color: #170; }
.cm-s-ttcn .cm-variable { color: #8B2252; }
.cm-s-ttcn .cm-variable-2 { color: #05a; }
.cm-s-ttcn .cm-variable-3 { color: #085; }

.cm-s-ttcn .cm-invalidchar { color: #f00; }

/* ASN */
.cm-s-ttcn .cm-accessTypes,
.cm-s-ttcn .cm-compareTypes { color: #27408B; }
.cm-s-ttcn .cm-cmipVerbs { color: #8B2252; }
.cm-s-ttcn .cm-modifier { color:#D2691E; }
.cm-s-ttcn .cm-status { color:#8B4545; }
.cm-s-ttcn .cm-storage { color:#A020F0; }
.cm-s-ttcn .cm-tags { color:#006400; }

/* CFG */
.cm-s-ttcn .cm-externalCommands { color: #8B4545; font-weight:bold; }
.cm-s-ttcn .cm-fileNCtrlMaskOptions,
.cm-s-ttcn .cm-sectionTitle { color: #2E8B57; font-weight:bold; }

/* TTCN */
.cm-s-ttcn .cm-booleanConsts,
.cm-s-ttcn .cm-otherConsts,
.cm-s-ttcn .cm-verdictConsts { color: #006400; }
.cm-s-ttcn .cm-configOps,
.cm-s-ttcn .cm-functionOps,
.cm-s-ttcn .cm-portOps,
.cm-s-ttcn .cm-sutOps,
.cm-s-ttcn .cm-timerOps,
.cm-s-ttcn .cm-verdictOps { color: #0000FF; }
.cm-s-ttcn .cm-preprocessor,
.cm-s-ttcn .cm-templateMatch,
.cm-s-ttcn .cm-ttcn3Macros { color: #27408B; }
.cm-s-ttcn .cm-types { color: #A52A2A; font-weight:bold; }
.cm-s-ttcn .cm-visibilityModifiers { font-weight:bold; }
