<li>
  <h4>Challenge 1</h4>

  Create a function that accepts an input and adds 2 to it
</li>


<li>
  <h4>Challenge 2</h4>

  Create a function that accepts an input and adds an "s" to it
</li>



<li>
  Challenge 3
  Create a function called 'map' that:
  1. takes in an array of numbers (a list of numbers)
  2. takes in a 'callback' function - a function that is applied to each element of the array (inside of the function 'map')

  Have 'map' return a new array filled with numbers that are the result of using the 'callback' function on each element of the input array

  ex: map([1,2,3,4,5], multiplyByTwo); -> [2,4,6,8,10]
  multiplyByTwo(1); -> 2
  multiplyByTwo(2); -> 4
  etc, and the results are placed in a new array

  function map(array, callback) {

}
</li>

<li>
  Challenge 4

  The function 'forEach' takes an array and a callback. It runs the callback on each element of the array - and that's it!

  function forEach(array, callback) {

}
</li>

Extension work
<li>
  Extension 1

  In the first part of the extension, you're going to rebuild map but this time you're going to use forEach inside of map to save using a for loop

  function map(array, callback) {

}
</li>

<li>
  Extension 2

  Raise your hand if you reach the function reduce

  function reduce(initialValue, callback) {

}
</li>