<h1>Welcome to JavaScript - The Hard Parts!</h1>
<p>
  This is a three-part workshop offered by <a href="https://www.codesmith.io" target="_blank">Codesmith</a> to teach aspiring JavaScript developers about the fundamentals of the language. The link to this week's challenge will be provided tonight. Until then, experiment in our JavaScript interpreter!
</p>