<li>
  <h4>Challenge 1</h4>

  Create a function that accepts two inputs (name and age) and returns an object. Let's call this function <code>Person</code>. This function will:

  <ol>
    <li>create an empty object</li>
    <li>add a <code>name</code> property to the prevously created object</li>
    <li>add an <code>age</code> property to the previously created object</li>
    <li>add a <code>speak</code> property to the previously created object</li>
    <li>return the object</li>
  </ol>
</li>


<li>
  <h4>Challenge 2</h4>

  Inside <code>functionStore</code>, create a property with the key <code>greet</code> and the value is a function that logs "Hi".

</li>


<li>
  <h4>Challenge 3</h4>

  Create a function <code>PersonUsingFunctionStore</code> that creates objects using the <code>Object.create</code> method on the object.

</li>


<li>
  <h4>Challenge 4</h4>
  Add a speak method to the <code>functionStore</code> that logs the name of the person.<br/>
  Hint: keyword <code>this</code>



</li>


<li>
  <h4>Extension: Challenge 5</h4>

  How can we modify the previous function so that we do not need to explicity write out the <code>Object.create</code> method?<br/>

  Hint: the <code>new</code> keyword.

</li>